# Used car price prediction for 'Audi' car dataset-Linear Regression

### Objectives
1. Data source: https://www.kaggle.com/aishwaryamuthukumar/cars-dataset-audi-bmw-ford-hyundai-skoda-vw
2.(A) Load the data, 
(B) Separating the numeric features and target variable, 
(C) Split the original dataset into the train set (80%) and the test set (20%), 
(D) Perform Linear Regression and Predict the 'Price' from the test set, 
(E) Find the RMSE value from the actual test data and the predicted data.

### Importing and loading

In [1]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import pandas as pd

In [2]:
df=pd.read_csv('audi.csv') #load the dataframe and assign to a variabler df
display(df.head())
display(df.shape) #rows 10668 and column 8

  model  year  price transmission  mileage fuelType   mpg  engineSize
0    A1  2017  12500       Manual    15735   Petrol  55.4         1.4
1    A6  2016  16500    Automatic    36203   Diesel  64.2         2.0
2    A1  2016  11000       Manual    29946   Petrol  55.4         1.4
3    A4  2017  16800    Automatic    25952   Diesel  67.3         2.0
4    A3  2019  17300       Manual     1998   Petrol  49.6         1.0

(10668, 8)

In [3]:
# df.isnull().sum() #nan value check
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10668 entries, 0 to 10667
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         10668 non-null  object
 1   year          10668 non-null  int64
 2   price         10668 non-null  int64
 3   transmission  10668 non-null  object
 4   mileage       10668 non-null  int64
 5   fuelType      10668 non-null  object
 6   mpg           10668 non-null  float64
 7   engineSize    10668 non-null  float64
dtypes: float64(2), int64(3), object(3)
memory usage: 666.9+ KB

In [4]:
df.columns #show column names

Index(['model', 'year', 'price', 'transmission', 'mileage', 'fuelType', 'mpg',
       'engineSize'],
      dtype='object')

### Separating Features and Target variable

In [5]:
#considering only numeric values
features=['year','mileage','mpg','engineSize'] 
target=['price'] #as our target is to predice the price of used cares

#assigning to x and y
x=df[features] #assigning to x and y
y=df[target]
#type(x)
#type(y)
#print(x.shape,y.shape)

 ### Train-Test split

In [6]:
X_train, X_test, y_train, y_test = train_test_split(x, y,train_size=0.8, random_state=40) #traingin 80% data
#display(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

In [7]:
#X_train.head()

In [8]:
#y_train.head()

### Trainging and prediction

In [9]:
model=LinearRegression()
model=model.fit(X_train,y_train) #training test set

#### prediciotn

In [10]:
y_pred=model.predict(X_test)
display(y_pred)

array([[15738.63880732],
       [19821.11241623],
       [34171.95511537],
       ...,
       [20188.45663702],
       [28064.66956517],
       [ 8598.97179823]])

In [11]:
y_test.head() #comparing test data and predicted data

      price
9265  12290
9401  20990
7557  35995
9552  39990
3422  21691

In [12]:
model.coef_ # feature coefficient: m

array([[ 2.12222293e+03, -9.04907019e-02, -1.79278320e+02,
         1.05956981e+04]])

In [13]:
model.intercept_ #intercept or bias coefficient: c

array([-4266960.2444164])

### Calculating RMSE

In [14]:
RMSE = mean_squared_error(y_test, y_pred, squared=False) #If True returns MSE value, if False returns RMSE value.
print(RMSE)

5868.682813714861